/*
LAYOUT COLORS:

Main: #A82A0D hsl(11.2,85.6%,35.5%)
Accent: #cff595 hsl(83.8,82.8%,77.3%)


*/
:root {
    --fs--xl: 1.5rem;
    --fs--l: 1.25rem;
    --fs--r: 1rem
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Rubik', Georgia, serif;
    font-size: 14px;
}

body {
    background-color: hsl(11.2,85.6%,35.5%);
    color: hsl(83.8,82.8%,57.3%);
    font-size: clamp(12px, 18px, 48px);
}

header{
    background-image: url("../images/Blue\ Modern\ Fire\ Logo\ Vector\ Template.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    height: max-content;
    width: auto;
    justify-content: space-between;
    padding: 20vh;
}

.navBar {
    display: block;
    color: #000;
    margin: 1rem;
    justify-content: space-between;
}

.navArrow {
    display: none;
}

 .navBar ul {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 .navBar ul li {
     display: flex;
     padding: var(--fs--r);
 }

 .navBar a {
     display: inline-flex;
     text-decoration: none;
 }

 .navBar i {
    display: inline-flex;
    flex-direction: row;
    font-size: 2rem;
    color: hsl(83.8,82.8%,87.3%);
 }

 .navBar P {
     display: none;
     flex-direction: row;
    margin: 3rem;
 }

 .container2 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 25px;
     padding: 24px;
     border: 3px solid hsl(83.8,82.8%,57.3%);
     border-radius: 10px;
     box-shadow: 3px 3px hsl(83.8,82.8%,57.3%);
     background-color: hsl(11.2,85.6%,25.5%);
 }

 .img-cont {
     width: 40%S;
     background-image: url(../images/20201104215546_IMG_3524-2.jpg);
     background-position: center top 20px;
     background-size: contain;
     background-repeat: no-repeat;
     align-items: baseline;
     border-radius: 100%;
     padding: 15%;
     margin: 25px;
 }

 footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

footer img {
height: 100px;
width: auto;
border-radius: 100px;
padding: 2rem;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

@media only screen and (min-width: 1024px) {
    .container2 {
        display: flex;
        flex-direction: row;
}