
* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Poppins', 'Playfair Display', Georgia, serif;
    width: 100vw;
}

body {
    width: 100vw;
    background-color: hsl(11.2,85.6%,25.5%);
}

header {
    color: hsl(83.8,82.8%,77.3%);
    background-image: url(/resources/images/HeroImage.jpg);
    background-repeat: none;
    background-size: contain;
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20vh;
}

header img {
    height: 400px;
    width: 400px;
    border-radius: 400px;
}

.navBar {
    height: 35vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    flex-wrap: wrap;
    width: 3vw;
    opacity: 0.5;
    color: 	hsl(0, 0%, 100%);
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    justify-content: flex-start;
    margin-top: 32px;
    z-index: 1;
}

.navBar:hover {
    opacity: 1;
    transition: 800ms ease;
}

.navBar:hover .navArrow {
    transform: rotate(180deg);
    transition: 800ms ease;
    align-self: flex-start;
    padding: 0;
    margin: 0;
}

.navBar li {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 50px;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 10px;
    margin: 20px;
}

.navBar li a {
    display: none;
}

.navBar:hover li, 
.navBar:hover li a  {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 240px;
    color: 	hsl(0, 0%, 100%);
    align-content: flex-end;
    justify-content: space-between;
    transition: 600ms;
    margin: 20px;
}

@media only and (min-width: 1024px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    footer img {
        height: 100px;
        width: auto;
        border-radius: 100px;
        padding: 2rem;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
    }
}