/*
LAYOUT COLORS:

Main: #A82A0D hsl(11.2,85.6%,35.5%)
Accent: #cff595 hsl(83.8,82.8%,77.3%)


*/
:root {
    --fs--xl: 1.5rem;
    --fs--l: 1.25rem;
    --fs--r: 1rem
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Poppins', Georgia, serif;
}

body {
    background-color: hsl(240, 4% , 16%);
    color: hsl(46, 65%, 52%);
    font-size: clamp(12px, 18px, 48px);
}

header {
    background-image: url("../images/FirePit.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(240, 4% , 16%);
    height: max-content;
    width: auto;
    justify-content: space-between;
    padding: 20vh;
}

.container .nav {
    display: block;
}

.navBar {
    display: block;
    color: #000;
    margin: 1rem;
    justify-content: space-between;
}

.navArrow {
    display: none;
}

.navBar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.navBar ul li {
    display: flex;
    padding: var(--fs--r);
}

.navBar a {
    display: inline-flex;
    text-decoration: none;
}

.navBar i {
    display: inline-flex;
    flex-direction: row;
    color: hsl(46, 65%, 52%);
}

.navBar P {
    display: none;
    flex-direction: row;
    margin: 3rem;
}

.container.alpha {
    display: inline-flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 3rem 1rem;
    margin: 1rem;
    
}

.container.alpha ul {
    list-style: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer img {
    height: 100px;
    width: auto;
    border-radius: 100px;
    padding: 2rem;
}

footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

footer li {
    padding: 5rem;
}

@media only screen and (min-width: 1024px) {
    :root {
        --fs--xl: 2.19rem;
        --fs--l: 1.81rem;
        --fs--r: 1.5rem
    }

    body {
        font-size: clamp(12px, 24px, 48px);
    }

    .navBar {
        position: fixed;
    }

    .navArrow i:hover {
        display: block;
        transform: rotate(180deg);
        transition: ease 500ms;
    }

    .navbar ul {
        display: none;
    }

    .navBar:hover ul {
        display: flex;
        flex-direction: column;
    }

    .navArrow {
        display: flex;
        margin-left: 27px;
        ;
    }
}